.date-container {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.date-icon {
  width: 24px;
  height: 24px;
}

